.footer
    .footer__box
        .footer__box-home 
         a(href=routes.home)
            i.fas.fa-home 
    .footer__footer
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;