.footer {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 15px;
  margin-top: 70px;
  height: 100&;

  .footer__box {
    width: 5vw;
    color: $black;
    font-size: 40px;
    margin-bottom: 30px;
    .footer__box-home {
      text-align: center;
      i {
        color: $black;
      }
    }
  }
  .footer__icon {
    width: 5vw;
    text-align: center;
    color: $black;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .footer__text {
    text-align: center;
    color: $black;
    text-transform: uppercase;
    font-weight: 600;
  }
}
