.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $grey;
  display: flex;
  z-index: 100;
  box-sizing: border-box;
  .header__wrapper {
    padding: 5px 0px;
    width: 100vw;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 500px;
    align-items: center;
    .header__columm {
      i {
        color: $red;
        font-size: 40px;
      }
      span {
        color: $black;
        font-size: 30px;
      }
      &:nth-child(3) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 600;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
